<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Icons</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">AFRIKEAT</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Telephone</a></li>
      </ul>
    </div>
  </div>
</nav>


<div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="https://placehold.it/1200x400?text=IMAGE" alt="Image">
            <div class="carousel-caption">
                    <div class="row">
                            <h4>Spécialités gastronomiques d’Afrique Subsaharienne :Plats cuisinés, Sandwicherie et Epicerie fine</h4>
                    </div>
                    <div class="row">
                            <div class="col-sm-6">
                                <div class="well">
                                    <p><a href="#">PLATS PREPARES</a></p> 
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="well">
                                    <p><a href="#">EPICERIE FINE</a></p> 
                                </div>
                            </div>
                        </div>
            </div>      
          </div>
        </div>
</div>
<section id="sec_id">
    <div class="row">
        <div class="col-sm-12">
                <p>
                        AfrikEat est une épicerie fine dédiée aux spécialités de la gastronomie des pays d’Afrique Subsaharienne.
                </p>

                <p>Pour le déjeuner ou le dîner, nous vous proposons un voyage exotique avec un large choix de sandwichs et de plats cuisinés sur place, à emporter ou en livraison.</p>
                <p>Pour le déjeuner ou le dîner, nous vous proposons un voyage exotique avec un large choix de sandwichs et de plats cuisinés sur place, à emporter ou en livraison.</p>

        </div>
    </div>
</section>
  <br>
<div class="row" id="bloc5">
        <div class="col-sm-6"> 
            <div class="panel panel-dark">
                <div class="panel-body">
                    <h4 class="text-center h4">AfrikEat</h4>
                    <p class="text-center p">13 rue Alexandre Charpentier
                            75017 Paris
                            </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6"> 
                <div class="panel">
                  <div class="panel-body"><img src="map.jpeg" class="img-responsive" style="width:100%" alt="Image"></div>
                </div>
        </div>
 </div>    

<footer class="container-fluid text-center" id="text">
    <div class="container">
        <div class="row">
            <div class="col-sm-3"> <a href="#">Nous Contacter</a> </div>
            <div class="col-sm-3"><a href="#">Instagram</a></div>
            <div class="col-sm-3"><a href="#">Facebook</a></div>
            <div class="col-sm-3"><a href="#">Mentions Légales</a></div>
        </div>
    </div>    
</footer>
<hr>
</body>