<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#">AFRIKEAT</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
<<<<<<< HEAD
        <a class="navbar-brand" href="#"> <i class="fa fa-facebook-square "></i> </a>
        <a class="navbar-brand" href="#"> <i class="fa fa-twitter "></i> </a>
        <a class="navbar-brand" href="#"> <i class="fa fa-instagram "></i> </a>
        <li><a href="#"><i class="fa fa-phone "></i>0621382021</a></li>
=======
        <li><a href="tel:0621382021"><i class="fa fa-phone fa-2x"></i></a></li>
>>>>>>> f1c80c8ac0cf415f5822df659971686590d2f919
      </ul>
    </div>
  </div>
</nav>

<<<<<<< HEAD


=======
<div class="spacer-mini"></div>
>>>>>>> f1c80c8ac0cf415f5822df659971686590d2f919
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="https://placehold.it/1200x400?text=IMAGE" alt="Image">
      <div class="carousel-caption">
        <div class="row">
<<<<<<< HEAD
          <h4>Spécialités gastronomiques d’Afrique Subsaharienne :Plats cuisinés, Sandwicherie et Epicerie fine</h4>
        </div>

        <div class="row " id="precom">
          <p>PRECOMMANDEZ AU 0621382021</p>
        </div>

        <div class="row">
          <h4 class="col-sm-6">PLATS PREPARES :
            <p>Tout au long de la journée (midi, soir, …), découvrez notre sélection de plats cuisinés, sandwichs, boissons, … issue de la cuisine fusion, revisitée et créatrice de toute l’Afrique Subsaharienne.</p>
          </h4 >
          <h4 class="col-sm-6">EPICERIE FINE :
            <p>Découvrez une sélection de produits naturels, bio et authentiques issue de tous les pays d’Afrique Subsaharienne : épices, thés, cafés, jus, nectars, sauces, condiments, conserves, huiles alimentaires, confitures, sirops, …</p>
          </h4>

        </div>
      </div>
=======
          <h4>
            Spécialités gastronomiques d’Afrique Subsaharienne :Plats cuisinés, Sandwicherie et Epicerie fine
          </h4>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="well">
              <p>
                <a href="#">PLATS PREPARES</a>
              </p> 
            </div>
          </div>
          <div class="col-sm-6">
            <div class="well">
              <p>
                <a href="#">EPICERIE FINE</a>
              </p> 
            </div>
          </div>
        </div>
      </div>      
>>>>>>> f1c80c8ac0cf415f5822df659971686590d2f919
    </div>
  </div>
</div>

<!-- space-min pour separer mes bloc-->
<div class="spacer-mini"></div>

<section id="sec_id">
<<<<<<< HEAD
    <div class="row">
      <div class="col-sm-12">
        <p>
          AfrikEat est une épicerie fine dédiée aux spécialités de la gastronomie des pays d’Afrique Subsaharienne.
          Pour le déjeuner ou le dîner, nous vous proposons un voyage exotique avec un large choix de sandwichs et de plats cuisinés sur place, à emporter ou en livraison.
          Pour le déjeuner ou le dîner, nous vous proposons un voyage exotique avec un large choix de sandwichs et de plats cuisinés sur place, à emporter ou en livraison.</p>
      </div>

=======
  <div class="row">
    <div class="col-sm-12">
      <p>
        AfrikEat est une épicerie fine dédiée aux spécialités de la gastronomie des pays d’Afrique Subsaharienne.
        Pour le déjeuner ou le dîner, nous vous proposons un voyage exotique avec un large choix de sandwichs et de plats cuisinés sur place, à emporter ou en livraison.
        Pour le déjeuner ou le dîner, nous vous proposons un voyage exotique avec un large choix de sandwichs et de plats cuisinés sur place, à emporter ou en livraison.
      </p>
>>>>>>> f1c80c8ac0cf415f5822df659971686590d2f919
    </div>
  </div>
</section>
<<<<<<< HEAD
<!-- space-min pour separer mes bloc-->
=======

>>>>>>> f1c80c8ac0cf415f5822df659971686590d2f919
<div class="spacer-mini"></div>

<div class="row" id="bloc5">
<<<<<<< HEAD
  <div class="col-sm-6">
    <div class="panel panel-dark">
      <div class="panel-body">
        <h4 class="text-center h4">AfrikEat</h4>
        <p class="text-center p">13 rue Alexandre Charpentier 75017 Paris</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel">
      <div class="panel-body"><img src="map.jpeg" class="img-responsive" style="width:100%" alt="Image"></div>
    </div>
  </div>
 </div>
=======
  <div class="col-sm-6"> 
    <div class="panel panel-dark">
      <div class="panel-body">
        <h4 class="text-center h4">AfrikEat</h4>
        <p class="text-center p">
          13 rue Alexandre Charpentier 75017 Paris
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6"> 
    <div class="panel">
      <div class="panel-body">
        <img src="map.jpeg" class="img-responsive" style="width:100%" alt="Image">
      </div>
    </div>
  </div>
</div>
>>>>>>> f1c80c8ac0cf415f5822df659971686590d2f919

<!-- footer et ses éléments-->

<footer class="container-fluid text-center" id="text">
  <div class="container">
    <div class="row">
<<<<<<< HEAD
      <div class="col-sm-4"> <a href="#">afrikeat@gmail.com</a> </div>
      <div class="col-sm-4"><a href="#"> Instagram</a></div>
      <div class="col-sm-4"><a href="#"> Facebook</a></div>
    </div>
  </div>
  <hr>
  <div class="row d-flex align-items-center">
=======
      <div class="col-sm-3">
        <a href="#">Nous Contacter</a>
      </div>
      <div class="col-sm-3">
        <a href="#"><i class="fa fa-instagram fa-x"></i> Instagram</a>
      </div>
      <div class="col-sm-3">
        <a href="#"><i class="fa fa-facebook-square fa-x"></i> Facebook</a>
      </div>
      <div class="col-sm-3">
        <a href="#">Mentions Légales</a>
      </div>
    </div>
  </div>    
</footer>

<hr>
<div class="row d-flex align-items-center">
    <!-- Grid column -->
>>>>>>> f1c80c8ac0cf415f5822df659971686590d2f919
    <div class="col-md-7 col-lg-8">
    </div>
    <div class="col-md-5 col-lg-4 ml-lg-0">
      <div class="text-center text-md-right">
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item">
            <p class="text-center text-md-right">© 2018 Copyright:
              <a href="https://afrikeat.herokuapp.com/">
                <strong> AfrikEat</strong>
              </a>
            </p>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-sm rgba-white-slight mx-1">
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-sm rgba-white-slight mx-1">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-sm rgba-white-slight mx-1">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-sm rgba-white-slight mx-1">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
<<<<<<< HEAD
</footer>
</body>
=======
</div>
>>>>>>> f1c80c8ac0cf415f5822df659971686590d2f919
