   .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

  .carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:1px;
}
@media (max-width: 600px) {
  .carousel-caption {
    display: none; 
  }
}
   /* ici pour séparer les differents bloc */
   div[class*='spacer-'] { display: block; }
   .spacer-mini { height: 10px; }

   /* footer */
  footer {
    background-color: #333F50;
    padding: 25px;

  }
   /* couleur du texte du footer */
  #text a{
      color: #ffffff;
  }

  #sec_id p{
    color: #2196F3;
  }

  section {
      background-color: white;
  }
  
  .panel-dark{
	  background: white;
	   height: 348px;
  }
  
  .h4, .p{
  	color: #2196F3;
  }
  
  .well a{
	  color: #3B51AC;
  }

   .footer-bottom {
     background-color: #15224f;
     min-height: 30px;
     width: 100%;
   }
   .copyright {
     color: #fff;
     line-height: 30px;
     min-height: 30px;
     padding: 7px 0;
   }
   .design {
     color: #fff;
     line-height: 30px;
     min-height: 30px;
     padding: 7px 0;
     text-align: right;
   }
   .design a {
     color: #fff;
   }
  